@import "./styles.scss";

.first-movie {
  margin: 0 auto;
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  &_info {
    h2 {
      color: $secondary-color;
    }
    p {
      color: $secondary-color;
    }
  }
  img {
    height: 30vw;
  }
}

main {
  display: flex;
  flex-direction: column;
  section div {
    display: flex;
    button {
      margin: 20px;
    }
  }
}
