@import "./styles.scss";

.first-movie {
  padding-bottom: 120px;
  padding-top: 80px;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  &_info {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    h2 {
      margin: 0;
      margin-bottom: 7%;
      font-size: 5rem;
      color: $secondary-color;
    }
    p {
      color: $secondary-color;
      font-size: 1.7rem;
      margin-bottom: 7%;
    }
  }
  img {
    height: 30rem;
  }
}

.btn-more {
  margin: 0;
  width: 220px;
  font-size: 1.7rem;
  padding: 2% 3%;
  border: none;
  transition: 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $primary-color;
  &:hover {
    background-color: $hover-color;
    color: white;
  }
  &:hover > p {
    color: white;
  }
  p {
    margin: 0;
    margin-left: 15px;
    transition: 0.3s ease;
    color: $primary-color;
    font-size: 1.4rem;
  }
}

section h2 {
  margin: 0;
  margin-left: 10%;
  font-size: 2rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hide-loading {
  visibility: hidden;
  padding: 10px;
  background-color: rgba(92, 91, 87, 0.9);
  opacity: 0;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
}

.loading {
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $primary-color;
  img {
    height: 10vw;
    animation: rotation 2s infinite linear;
  }
  p {
    color: $secondary-color;
    font-size: 5vw;
  }
}

section h2 {
  color: $secondary-color;
  padding-left: 2%;
}
